[user]
    email = chenfu.xie@bytedance.com
    name = chenfu.xie
[credential "https://code.byted.org"]
    username = chenfu.xie
[url "ssh://chenfu.xie@git.byted.org:29418"]
    insteadOf = https://git.byted.org
[url "git@code.byted.org:"]
    insteadOf = https://code.byted.org/
[url "gitr:"]
    insteadOf = git://git.byted.org/
[url "git@git.byted.org:"]
    insteadOf = https://git.byted.org/
[core]
    whitespace= fix,-indent-with-non-tab,trailing-space,cr-at-eol
    ignorecase= false
    editor = vim

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[color]
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[apply]
        whitespace = fix
[alias]
        st = status
        ci = commit
        cia = commit --amend
        che = cherry-pick
        br = branch
        co = checkout
        di = diff
        fe = fetch --all
        lg = log -p
        lga = log -p --all
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        loa = log --graph --decorate --abbrev-commit --all
        ls = ls-files
        rh = reset --hard
